engine-strict=true
package-manager=pnpm@10.15.1

frozen-lockfile=true
strict-peer-dependencies=true

link-workspace-packages=true
shared-workspace-lockfile=true
prefer-workspace-packages=true

registry=https://registry.npmjs.org/

always-auth=false

progress=false
audit=false
fund=false

prefer-offline=true

auto-install-peers=true

enable-pre-post-scripts=true

save-exact=true

color=true
